# ProAbsence v1.0.0 - Konfiguracja środowiskowa
# Skopiuj ten plik jako .env i uzupełnij wartości

# Port aplikacji (domyślnie 3000)
PORT=3000

# Sekretny klucz JWT
JWT_SECRET=ProAbsence2026!IMC-Engineering@SecureKey#PL

# Środowisko
NODE_ENV=production
